<app-header></app-header>
<app-topbar></app-topbar>

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <h2>TECHNOLOGY SERVICES</h2>
        </div>
        <div class="row gtr-200">
            <div class="col-6 col-12-medium imp-medium">

                        <!-- Content -->
                        <div id="content">
                            <section class="last">
                                <div class="image featured">
                                    <img src="assets/img/services/servicestechnologyservices.png">
                                </div>
                            </section>
                        </div>
        
                    </div>
            <div class="col-6 col-12-medium">

                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">
                            <p>You keep systems running. We keep your career growing.Have you been looking for the best available IT opportunities that will challenge you and expand your skill set, but keep coming up short? Tired of hearing about the talent crunch that summarizes your exact skill sets? Partner with us – we can help.</p>
                            <p>Cavalier IT will market you to some of the top technology players in the industry. Where you’ll gain valuable hands-on experience and join some of the best and brightest professionals in the industry – plus learn new technologies and techniques from industry leaders.</p>
                            <p>What else can we offer? Flexibility, variety, lifestyle freedom, exciting projects – all positive characteristics that define our IT contract, contract-to-permanent and project-based work. And whether you’re looking for full-time or part-time work, a short-term or long-term assignment, Cavalier IT will match you with the IT position that fits your lifestyle and career goals. When the timing is right for you, we can also connect you with one of our many contract opportunities that have the potential to lead to a permanent position.</p>
                    </section>
                </div>

            </div>
            
        </div>
        <div class="row">
                
                <p>When you choose Cavalier IT, we aggressively work on your behalf to market your talents to leading companies through our extensive team of industry experts. For desirable positions such as business analyst, database administrator, IT manager, project manager, software systems engineer, Web developer and much more.</p>
                <p style="padding-top: 0px;">What’s more, when you’re on assignment with our client or waiting for the ideal permanent position, you’ll have access to over 4,000 online training courses that will help you further grow your IT career. You’ll also receive a comprehensive suite of benefits from healthcare to a retirement plan. That’s a good connection.</p>
        </div>
    </div>
</div>

<app-footer></app-footer>