<app-header></app-header>
<app-topbar></app-topbar>

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <h2>TECHNOLOGY SERVICES</h2>
        </div>
        <div class="row gtr-200">
            <div class="col-6 col-12-medium imp-medium">

                        <!-- Content -->
                        <div id="content">
                            <section class="last">
                                <div class="image featured">
                                    <img src="assets/img/byindustry/byindustrytechnologyservices1.jpg">
                                </div>
                            </section>
                        </div>
        
                    </div>
            <div class="col-6 col-12-medium">

                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">
                            <p style="text-align: justify;">
                                The Information Technology industry continues to both transform and dictate our world! 
                                From the introduction of cloud computing to Big Data and ever changing mobile applications to social media Analytics; 
                                change in the IT arena comes swiftly and mandates that everyone adapts in a timely fashion. In IT recruiting, 
                                conceivably more than in any other industry, timing is everything. Our recruiters understand how quickly the parameters can change in IT, 
                                and we effectively and efficiently drive sourcing strategies&nbsp;thereby ensuring our clients are engaged whether 
                                it is their Contingent Staffing need or an internal Project requirement.</p>
                    </section>
                </div>

            </div>
            
        </div>
        <div class="row gtr-200">
               
                <div class="col-6 col-12-medium">
    
                    <!-- Sidebar -->
                    <div id="sidebar">
                        <section class="widget thumbnails">
                                <p style="text-align: justify;">
                                        The IT Market is challenging with high attrition and limited supply which leave Technology Leaders with many challenges. 
                                        
                                        As the complexity of these challenges escalates, the greatest test in the arena is finding a steady supply of IT talent.
                                         Cavalier IT has emerged as a company of choice, we position ourselves as a Strategic Staffing Partner, focusing on finding the right match. In our sourcing process beyond the numerous screenings we&nbsp;assess the talent’s ability to blend with the client’s culture. A key to our success&nbsp;in retaining Top talent is our robust and transparent on-boarding process. 
                                        One of Cavalier ITs stand out practice is client orientation whereby we introduce the talent to the client’s culture, expectations 
                                        and provide the talent with vital training and information needed to succeed. Cavalier IT provides outstanding IT resources and technologists 
                                        to help our clients meet their requirements at viable prices.</p>
                        </section>
                    </div>
    
                </div>
                <div class="col-6 col-12-medium imp-medium">
    
                        <!-- Content -->
                        <div id="content">
                            <section class="last">
                                <div class="image featured">
                                        <img src="assets/img/byindustry/byindustrytechnologyservices2.jpg" alt="tech_Services">
                                </div>
                            </section>
                        </div>
        
                    </div>
                
            </div>

                
                
    </div>
</div>

<app-footer></app-footer>