<app-header></app-header>
<app-topbar></app-topbar>

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <h2>OUR PEOPLE</h2>
        </div>
        <div class="row gtr-200" style="margin-bottom: 40px">
            <div class="col-12 col-12-medium">
                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">
                        <p style="text-align: justify;">
                            The one thing we recognize that we do better in our industry is building a company
                            where coworkers join us and stay with us. There’s a reason the tenure of our coworkers is
                            lengthier than the industry average.
                            Cavalier is the place of choice where coworkers want to be and where many intend to stay…
                        </p>
                        <P>
                            We care about people and the role of work in their lives.
                            We respect people as individuals, trusting them, supporting them, enabling them to achieve
                            their aims in work and in life.
                            We help people develop their careers through planning, work, coaching and training. We
                            recognize everyone’s contribution to our success – our staff,
                            our clients and our consulting associates.
                        </P>

                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-6-medium col-12-small">
                <div class="row">
                    <div class="col-3 col-6-medium col-12-small">
                        <img src="assets/img/ourcompany/ourcompanyourpeoplejingtian-zhang.jpg">
                    </div>
                    <div class="col-9 col-6-medium col-12-small">
                        <p>
                            <strong>Jingtian Zhang</strong><br>
                            Steven's Institute of Technology, Hoboken<br>
                            Java Developer
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row people">
            <p style>“Cavalier IT has given me by far, the best consulting experience and also they made sure to
                generate all my paychecks on time.”</p>
        </div>
        <div class="row">
            <div class="col-6 col-6-medium col-12-small">
                <div class="row">
                    <div class="col-3 col-6-medium col-12-small">
                        <img src="assets/img/ourcompany/ourcompanyourpeoplesupreet-talikoti.jpg">
                    </div>
                    <div class="col-9 col-6-medium col-12-small">
                        <p>
                            <strong>SUPREET TALIKOTI</strong><br>
                            Cornell University, Itacha, NY<br>
                            Java Developer
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row people">
            <p>“To sum up my experience at Cavalier IT, I would just say its a great organization with big clients &
                hard working employees. They made sure to focus on my strengths and weaknesses and helped me to suit the
                best role accordingly.”</p>
        </div>
        <div class="row">
            <div class="col-6 col-6-medium col-12-small">
                <div class="row">
                    <div class="col-3 col-6-medium col-12-small">
                        <img src="assets/img/ourcompany/ourcompanyourpeoplegrinish-nepal.jpg">
                    </div>
                    <div class="col-9 col-6-medium col-12-small">
                        <p>
                            <strong>GRINISH NEPAL</strong><br>
                            University of Bridgeport, CT<br>
                            Programmer Analyst
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p>“I have been with Cavalier IT for quite some time now and all I feel about them is that they are quick,
                reliable and procedure oriented. Their main focus is my career enhancement and growth. My employment
                with them has been very smooth and stress free.”</p>
        </div>
    </div>
</div>

<app-footer></app-footer>