#main-wrapper {
    font-family: none; 
    color: black;
}
.container .row h2 {
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
}
.container .row p{
    text-align: justify;
    line-height: 2;
}
p {
    margin-bottom: 0px;
}