<app-header></app-header>
<app-topbar></app-topbar>

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <h2>FIND TALENT NOW</h2>
        </div>
        <div class="row gtr-200">
            <div class="col-12 col-12-medium">
                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">

                        <p style="text-align: justify;">It’s competitive out there, both for job seekers and employers.
                            But in this ever-changing job market, you’ve made a smart first move by looking for work in
                            a different way – with Cavalier IT. We have relationships with companies of all sizes and in
                            industries that are continuing to invest in people with the skills and flexibility that add
                            value to their businesses.</p>
                        <p style="text-align: justify;">Whatever the case, we know who is looking for your skills, and
                            we have the expertise to match jobs to you where you can succeed. Whether you’re interested
                            in short-term assignments where you can experience different work environments and
                            challenges, or the security of a permanent position, let us work on your behalf to find your
                            best job fit. On top of it all, you’ll benefit from competitive pay and benefits, free
                            training and job search support and advice.&nbsp; You’ll be where you belong in no time.</p>
                        <p style="text-align: justify;">At any point you can Join Our Talent Community to stay connected
                            with us. You can sign up for job and event e-mail notifications and even select the
                            frequency for the updates we send you.</p>
                        <p style="text-align: justify;">When you see a job that matches your goals, click “Apply Now” to
                            start your application. You’ll have a chance to upload your resume/CV and you’ll receive a
                            confirmation e-mail once your application is complete and submitted. Also you can always
                            send over your resume/CV to us at careers@cavalieritinc.com.</p>
                        <p style="text-align: justify;"><strong>Our Top Listings:</strong></p>
                        <p><strong>Software Developer:</strong></p>
                        <p>Responsible to&nbsp;design REST APIs and develop RESTful Web Services; design and develop
                            horizontally and highly scalable cloud-based architecture using AWS cloud infrastructure;
                            develop in a TDD requirement; design and implement performance tests; design instrumentation
                            into code and integrating with software; develop commerce based web applications; use and
                            scale NoSQL databases.&nbsp; Requires BS degree in Science/ Computer Science/
                            Computer/Network Information Systems/Computer Engineering or foreign
                            equivalent.&nbsp;&nbsp;Must be willing to relocate and travel.</p>
                        <p>Submit resumes to: Cavalier Workforce, Inc., 399 Thornall Street, Floor # 5, Edison, NJ
                            08837.</p>
                        <p><strong>Graphic Designer:</strong></p>
                        <p>Responsible to design and define the interactions and interfaces to transform unmet user
                            needs; advocate human centered design and use best practice&nbsp; scenarios, document them
                            and insure all UX/UI design follows those detailed specifications; use key principles,
                            elements of design and apply it to create best possible UX and UI; define interaction
                            models, user task flows and UI specifications; design studies that address both user
                            behavior and attitudes; conduct research using a wide variety of qualitative methods and
                            subset of quantitative methods. Requires BS degree in Design/Arts/Computer Science/a
                            relevant field of Engineering or foreign equivalent. Must be willing to travel and relocate.
                        </p>
                        <p>Submit resumes to Cavalier Workforce Inc. 399 Thornall Street, Floor # 5, Edison, NJ 08837.
                        </p>
                        <p>To view more open jobs please see below:</p>
                        <p style="margin-bottom: 5px;"><strong>Apply Here</strong>
                        </p>
                        <p><button>Dice.com</button></p>
                        
                        <p><button>Indeed.com</button></p>
                        
                    </section>
                </div>

            </div>

        </div>

    </div>
</div>

<app-footer></app-footer>