<div id="header-wrapper">
    <header id="header">
        <div class="header-top">
            <div class="container custom">
                <div class="row-fluid">
                    <div class="span6 topbar-left-content">

                        <div class="contact-info">
                            <span><i class="fa fa-phone"></i>201-526-3845</span>
                            <span class="second"><i class="fa fa-envelope"></i>info@cavalieritinc.com</span>
                        </div>
                    </div>
                    <div class="span6 topbar-right-content">

                        <ul class="social-icons clearfix">
                            <li> <a class="facebook" href="https://www.facebook.com/Cavalier-It-Inc-1592637067718105/"
                                    target="_blank" title="Facebook"> <i class="fa fa-facebook"></i> </a> </li>

                            <li class="linkedin"> <a href="https://www.linkedin.com/company/2578244" target="_blank"
                                    title="LinkedIn"> <i class="fa fa-linkedin"></i> </a> </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-content container">
            <!-- Logo -->
            <div id="logo">
                <h1><a [routerLink]="['/']"><img src="assets/img/home/homecavalier.jpg"
                            class="default-logo" alt="CavalierIT"></a></h1>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li>
                        <a [routerLink]="['/services']" class="external">Services</a>
                        <ul class="sub-menu">
                            <li><a [routerLink]="['/services/contingentworkforce']" class="external">Contingent Workforce</a></li>
                            <li><a [routerLink]="['/services/technologyservices']" class="external">Technology Services</a></li>
                            <li><a  class="external">Recruitment</a></li>
                            <li><a  class="external">RPO</a></li>
                            <li><a  class="external">Payroll</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a [routerLink]="['/byindustry']" class="external">By Industry</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                [routerLink]="['/byindustry/technologyservices']"
                                    class="external">Technology Services</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                [routerLink]="['/byindustry/bfsi']" class="external">BFSI</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    
                                    class="external">Manufacturing</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                   
                                    class="external">Communications &amp; Media</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    
                                    class="external">Energy &amp; Utilities</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    
                                    class="external">Public Sector</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    
                                    class="external">Pharmaceuticals</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                   
                                    class="external">Life Sciences &amp; Healthcare</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a
                        [routerLink]="['/staffingsolutions']" class="external">Staffing
                            Solutions</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                [routerLink]="['/staffingsolutions/engineering']"
                                    class="external">Engineering</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                [routerLink]="['/staffingsolutions/informationtechnology']"
                                    class="external">Information Technology</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    
                                    class="external">Administrative &amp; Clerical</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    class="external">Manufacturing &amp; Logistics</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    class="external">Accounting &amp; Finance</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    class="external">Scientific / Clinical</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    class="external">Marketing &amp; Creative</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    class="external">Healthcare</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    class="external">Call Center &amp; Customer Service</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    class="external">Professional Services</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a
                        [routerLink]="['/jobseekers']" class="external">Job Seekers</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                                [routerLink]="['/jobseekers/exploreapply']" class="external">Explore &amp;
                                    Apply</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                [routerLink]="['/jobseekers/connect']"
                                    class="external">Connect</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a
                        [routerLink]="['/ourcompany']" class="external">Our Company</a>
                        <ul class="sub-menu offset-left-level3">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                [routerLink]="['/ourcompany/aboutus']" class="external">About
                                    Us</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                [routerLink]="['/ourcompany/ourpeople']" class="external">Our
                                    People</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                     class="external">Our
                                    Benefits</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                     class="external">Our
                                    Values</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                   
                                    class="external">Leadership</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    
                                    class="external">Sustainability</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    
                                    class="external">Celebrating Diversity</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                     class="external">Giving
                                    Back</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    
                                    class="external">Life at Cavalier</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                        [routerLink]="['/contactus']" class="external">Contact Us</a>
                    </li>


                    <li id="header-search-button">
                        <a class="search-button external" *ngIf="!checksearch" (click)="search()"><i
                                class="fa fa-search"></i></a>
                        <div id="header-search-panel" *ngIf="checksearch">

                            <form action="http://www.cavalieritinc.com/" id="header-search-form" method="get">
                                <input type="text" id="header-search" name="s" value=""
                                    placeholder="Hit Enter to Search" autocomplete="off">
                            </form>
                            <span class="close-icon" (click)="search()"><a class="search-button external"><i
                                        class="fa fa-search"></i></a></span>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>


<div id="navToggle">
    <a class="toggle" (click)="toggleMenu()"></a>
</div>
<div id="navPanel">
    <nav>
        <a class="link depth-0" href="index.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-0"></span>SERVICES
        </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>CONTINGENT WORKFORCE
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>TECHNOLOGY SERVICES
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>RECRUITMENT
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>PRO
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>PAYROLL
            </a>

        <a class="link depth-0" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-0"></span>BY INDUSTRY
        </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>TECHNOLOGY SERVICES
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>BFSI
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>MANUFACTURING
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>COMMUNICATIONS & MEDIA
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>ENERGY & UTILITIES
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>PUBLIC SECTOR
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>PHAMACEUTICALS
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>LIFE SCIENCES & HEALTHCARE
            </a>
        <a class="link depth-0" href="left-sidebar.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-0"></span>STAFFING SOLUTIONS
        </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>ENGINEERING
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>INFORMATION TECHNOLOGY
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>ADMINISTRATIVE & CLERICAL
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>MANUFACTURING & LOGISTICS
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>ACCOUNTING & FINANCE
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>SCIENTIFIC / CLINICAL
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>MARKETING & CREATIVE
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>HEALTHCARE
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>CALL CENTER & CUSTOMER SERVICE
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>PROFESSIONAL SERVICES
            </a>
        <a class="link depth-0" href="right-sidebar.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-0"></span>JOB SEEKERS
        </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>EXPLORE & APPLY
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>CONNECT
            </a>
        <a class="link depth-0" href="no-sidebar.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-0"></span>OUR COMPANY
        </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>ABOUT US
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>OUR PEOPLE
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>OUR BENEFITS
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>OUR VALUES
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>LEADERSHIP
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>SUSTAINABILITY
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>CELEBRATING DIVERSITY
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>GIVING BACK
            </a>
            <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="indent-1"></span>LIFE AT CAVALIER
            </a>
        <a class="link depth-0" href="no-sidebar.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="indent-0"></span>CONTACT US
        </a>
    </nav>
</div>
