#main-wrapper {
    font-family: none; 
    color: black;
    line-height: 2;
}
.container .row h2 {
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
}
.container .row p{
    text-align: justify;
    line-height: 2;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}
ul.style2 li {
    background-color: #4389ca;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
}
ul.style2 li a{
    color: white;
    text-decoration: none;
}
ul.style2 li a img {
    top: 6px;
    position: relative;
}
ul.style2 li a span{
    padding-left: 15px;
}
#content {
    padding-top: 20px;
}
