<app-header></app-header>
<app-topbar></app-topbar>

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <h2>CONTINGENT WORKFORCE SOLUTIONS</h2>
            <p style="text-align: justify;">Need access to talent now, but unsure? The use of contingent talent is on
                the rise to remain competitive.&nbsp; A flexible contingent workforce solution also allows your firm to
                respond to fluctuations in the economy and changes in industry trends.&nbsp; Leveraging a flexible
                benefits of a contingent workforce solution can enhance the performance of your overall workforce while
                reducing your company’s cost.</p>
            <p style="text-align: justify;">Cavalier IT streamlines the sourcing, management and
                on-boarding/off-boarding of Temps, Contractors, Consultants and&nbsp;other project-based talent, saving
                you time and money, maximizing process efficiency and minimizing risks for your organization.</p>
            <p style="text-align: justify;">We offer vendor neutral managed service programs where we select and manage
                your contingent labor providers to models where we also directly source contingent labor on your behalf.
            </p>
        </div>
        <div class="row gtr-200">
            <div class="col-6 col-12-medium">

                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">
                        <p style="text-align: justify;">Cavalier’s Contingent Workforce Solutions Benefits are:</p>
                        <ul>
                            <li style="text-align: justify;">Respond quickly to change</li>
                            <li style="text-align: justify;">Lowered cost &amp; shared risk</li>
                            <li style="text-align: justify;">Be more competitive</li>
                            <li style="text-align: justify;">Measurable results</li>
                            <li style="text-align: justify;">System-wide savings</li>
                            <li style="text-align: justify;">Centralization</li>
                            <li style="text-align: justify;">Knowledge-Driven Expertise</li>
                        </ul>
                    </section>
                </div>

            </div>
            <div class="col-6 col-12-medium imp-medium">

                <!-- Content -->
                <div id="content">
                    <section class="last">
                        <div class="image featured">
                            <img src="assets/img/services/serviececontingentworkforce.jpg">
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>