<app-header></app-header>
<app-topbar></app-topbar>

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <h2>STAFFING SOLUTIONS</h2>
            <p><br><br></p>
        </div>
        <div class="row gtr-200">
            <div class="col-4 col-12-medium">

                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">
                        <ul class="style2">
                                <li><a href="#"><img src="assets/img/services/service_workforce.png"><span>Engineering</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_technology_1.png"><span>Information Technology</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_rpo.png"><span>Administrative & Clerical</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_outsourcing.png"><span>Manufacturing & Logistics</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_payroll.png"><span>Accounting & Finance</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_payroll.png"><span>Scientific/Clinical</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_payroll.png"><span>Marketing & Creative</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_payroll.png"><span>Healthcare</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_payroll.png"><span>Call Center & Customer Service</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_payroll.png"><span>Professional Services</span></a></li>
                            </ul>
                    </section>
                </div>

            </div>
            <div class="col-8 col-12-medium imp-medium">

                <!-- Content -->
                <div id="content">
                    <section class="last">
                        <div class="image featured">
                            <img src="assets/img/staffingsolution/staffingsolution.jpg">
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
