<app-header></app-header>
<app-topbar></app-topbar>

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <h2>Services</h2>
            <p>Cavalier IT streamlines the sourcing, management and on-boarding/off-boarding of Temps, Contractors, Consultants and 
                other project-based talent, saving you time and money, maximizing process efficiency and minimizing risks for your organization.  
                We offer neutral vendor managed service programs.</p>
        </div>
        <div class="row gtr-200">
            <div class="col-4 col-12-medium">

                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">
                        <ul class="style2">
                                <li><a href="#"><img src="assets/img/services/service_workforce.png"><span>Contingent Workforce</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_technology_1.png"><span>Technology $ Services</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_rpo.png"><span>RPO</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_outsourcing.png"><span>Outsourcing</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_payroll.png"><span>Payroll</span></a></li>
                            </ul>
                    </section>
                </div>

            </div>
            <div class="col-8 col-12-medium imp-medium">

                <!-- Content -->
                <div id="content">
                    <section class="last">
                        <div class="image featured">
                            <img src="assets/img/services/serviceimg.jpg">
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>