<app-header></app-header>
<div id="main-wrapper">
    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="assets/img/home/homecarousel/homecarousel1.png"
                style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="assets/img/home/homecarousel/homecarousel2.jpg"
                style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="assets/img/home/homecarousel/homecarousel3.jpg" 
                style="width:100%">
        </div>

    </div>
</div>

<div id="features-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-3 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <div class="brad-icon"><i class="fa fa-dollar"></i></div>
                    <div class="inner">
                        <header>
                            <h2>SAVINGS</h2>
                        </header>
                        <p>With a growing contingent labor market and a steep increase in spend over the past several
                            years, Cavalier Staffing Solutions works with clients to identify and realize savings.&nbsp;
                            The key elements central to the value of the staffing services are : client-centric and
                            consultative relationships.&nbsp; The key is to create supplier partnerships that are
                            strong, fair, profitable, engaging, competitive, and most importantly, deliver quality
                            workers.</p>
                    </div>
                </section>

            </div>
            <div class="col-3 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <div class="brad-icon"><i class="fa fa-dollar"></i></div>
                    <div class="inner">
                        <header>
                            <h2>VISIBILITY</h2>
                        </header>
                        <p>Global operations can easily expose a company to additional risks when engaging, on-boarding
                            and off-boarding contingent labor. Cavalier Staffing methodology uses technology which
                            enables to know who is working where. Also the insight into spend trends, buying habits,
                            cost impacts, anomalies and classification. In addition, our world class practices provides
                            consistency in on-boarding and off-boarding candidates as well.</p>
                    </div>
                </section>

            </div>
            <div class="col-3 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <div class="brad-icon"><i class="fa fa-dollar"></i></div>
                    <div class="inner">
                        <header>
                            <h2>PERFORMANCE</h2>
                        </header>
                        <p>From improving cost savings to better quality talent, Cavalier Staffing Solutions works with
                            clients to define objectives, and better end-to-end workforce management. The key is to
                            create dependable supplier partnerships which is strong, fair, profitable, engaging,
                            competitive, and most importantly, deliver quality workers.</p>
                    </div>
                </section>

            </div>
            <div class="col-3 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <div class="brad-icon"><i class="fa fa-dollar"></i></div>
                    <div class="inner">
                        <header>
                            <h2>OUT OF BOX</h2>
                        </header>
                        <p>Our sourcing model of higher-skilled, professional/technical positions is more likely to
                            benefit to increase the responsiveness and access, while less technical and easier-to-fill
                            positions are more likely to leverage a sole-sourcing model. Cavalier Staffing services
                            brings any and all of these models—a hybrid model approach—under a single strategically
                            managed workforce program. This is a key factor why many companies have adopted Cavalier
                            staffing services as part of their long-term workforce partner.</p>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

<div id="features-wrapper-flex">
    <div class="container">
        <div class="row">
            <div class="col-3 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <div class="brad-icon"><img src="assets/img/home/fa-icon_setting.png"></div>
                    <div class="inner">
                        <header>
                            <h2>1000+</h2>
                        </header>
                        <div class="hr">
                            <span></span>
                        </div>
                        <p>Delivered Services(in $10000)</p>
                    </div>
                </section>

            </div>
            <div class="col-3 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <div class="brad-icon custom-1"><img src="assets/img/home/fa-icon_group.png"></div>
                    <div class="inner">
                        <header>
                            <h2>1245</h2>
                        </header>
                        <div class="hr">
                            <span></span>
                        </div>
                        <p>workforce</p>
                    </div>
                </section>

            </div>
            <div class="col-3 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <div class="brad-icon custom-2"><img src="assets/img/home/fa-icon_smile.png"></div>
                    <div class="inner">
                        <header>
                            <h2>100+</h2>
                        </header>
                        <div class="hr">
                            <span></span>
                        </div>
                        <p>Serviced Clients</p>
                    </div>
                </section>

            </div>
            <div class="col-3 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <div class="brad-icon custom-3"><img src="assets/img/home/fa-icon_global.png"></div>
                    <div class="inner">
                        <header>
                            <h2>25+</h2>
                        </header>
                        <div class="hr">
                            <span></span>
                        </div>
                        <p>Global Delivery Center</p>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

<div id="features-wrapper-3">
    <div class="container">
        <div class="row">
            <div class="col-4 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <div class="brad-icon"><img src="assets/img/home/fa-icon_lamp.png"></div>
                    <div class="inner">
                        <header>
                            <h2>KNOWLEDGE</h2>
                        </header>
                        <p>Cavalier’s industry experience and expertise uniquely qualifies us to support integrations,
                            upgrade, migrations.&nbsp; Cavalier Staffing uses its implementation knowledge and leverage
                            deep experience in facilitating integrations to ensure all integration requirements are
                            identified and met. Integrations, when properly performed, provide tremendous gains in
                            efficiency.&nbsp; Poorly performed, integrations can cripple a program and can easily wipe
                            out any savings the program would otherwise provide. It is critical that integrations are
                            properly performed – and that the right experts are overseeing the integration
                            initiatives.&nbsp; It’s where Cavalier makes the difference !</p>
                    </div>
                </section>

            </div>
            <div class="col-4 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <div class="brad-icon"><img src="assets/img/home/fa-icon_setting_white.png"></div>
                    <div class="inner">
                        <header>
                            <h2>TECHNOLOGY</h2>
                        </header>
                        <p>Cavalier recognizes the importance of using Technology to automate the staffing services.
                            Cavalier follows it’s own process and practice in delivering staffing solution, and terrific
                            service for many of our clients. However, we take a technology agnostic approach to all
                            engagements – ensuring that the recommendations we provide to clients lead them to the
                            selection of the best technology to meet their requirements and expectations.</p>
                    </div>
                </section>

            </div>
            <div class="col-4 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <div class="brad-icon"><img src="assets/img/home/fa-icon_check.png"></div>
                    <div class="inner">
                        <header>
                            <h2>ONE STOP SOLUTION</h2>
                        </header>
                        <p>Our business model offers Staffing Solutions as a cost center but not as a profit center.
                            This is the model followed by many large staffing firms. Our staffing services are designed
                            for reduction in total expenditures as opposed to more typical staffing service which only
                            supports an opportunity and gives scope to more number of opportunities. Our approach
                            gathers basic data to determine program size and scope. Cavalier provides a comprehensive
                            study which includes the process followed, the creation of updated job descriptions, rate
                            card and administration of a supplier process.</p>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

<div id="features-wrapper-4">
    <div class="container">
        <div class="row">
            <div class="col-4 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <div class="brad-icon"><img src="assets/img/home/fa-icon_ambulance.png"></div>
                    <div class="inner">
                        <header>
                            <h2>FLEXIBLE DELIVERY</h2>
                        </header>
                        <p>Our resources are critical to the completion of critical projects at various client locations
                            and need to be retained – which dictates the need for contract and administrative management
                            until their contracts expire. Cavalier recognizes these projects and provides SME
                            contractors whose services may be required on an as-needed basis. These consultants can be
                            transitioned temporarily from contractual engagement to a payroll at a reduced rate from the
                            current mark-up.</p>
                    </div>
                </section>

            </div>
            <div class="col-4 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <div class="brad-icon"><img src="assets/img/home/fa-icon_umbrellar.png"></div>
                    <div class="inner">
                        <header>
                            <h2>SUPPORT</h2>
                        </header>
                        <p>Based on our national presence and extensive network of project personnel, Cavalier has the
                            ability to support your centralized projects in almost any US market or deployments across
                            US and Canada. In addition, Cavalier can scale as needed by relying on regional support at
                            various locations. Cavalier centralized back office group facilitates, and manages all
                            Staffing needs, both IT and Non-IT, invoicing and vendor payment processes while providing
                            the client and vendors with a central point of contact for time and expense reporting,
                            invoice and payment generation and reconciliation, issue resolution.</p>
                    </div>
                </section>

            </div>
            <div class="col-4 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <div class="brad-icon"><img src="assets/img/home/fa-icon_group_white.png"></div>
                    <div class="inner">
                        <header>
                            <h2>PAYROLL</h2>
                        </header>
                        <p>Cavalier offers a Managed Payroll Service. Through the Managed Payroll Service, Cavalier acts
                            as the Employer or Agency of Record for your contractors. Cavalier manages the
                            administrative services on your behalf, including timesheet processing, payroll and
                            invoicing services, and year-end W-2 documentation.</p>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

<div id="features-wrapper-flex">
    <div class="container">
        <!-- <div  class="swiper-container" [swiper]="config" [(index)]="index" (indexChange)="indexChange()">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">Slide 1</div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                    <div class="swiper-slide">Slide 4</div>
                    <div class="swiper-slide">Slide 5</div>
                    <div class="swiper-slide">Slide 6</div>
                    <div class="swiper-slide">Slide 7</div>
                    <div class="swiper-slide">Slide 8</div>
                    <div class="swiper-slide">Slide 9</div>
                    <div class="swiper-slide">Slide 10</div>
                </div>
               
                <div class="swiper-pagination"></div>
               
              </div> -->


        <div class="slideshow-container">

            <div class="mySlides2 leftslide">
                  <img src="assets/img/home/carousel-mark/markslider1.png" style="width:100%">
                </div>
                
                <div class="mySlides2 leftslide">
                  <img src="assets/img/home/carousel-mark/markslider2.png" style="width:100%">
                </div>
                
                <div class="mySlides2 leftslide">
                  <img src="assets/img/home/carousel-mark/markslider3.png" style="width:100%">
                </div>



                <!-- this is slide left to right -->
            <!-- <div class="carousel-container">
                <div class="carousel my-carousel carousel--translate">
                    <input class="carousel__activator" type="radio" name="carousel" id="F" checked="checked">
                    <input class="carousel__activator" type="radio" name="carousel" id="G">
                    <input class="carousel__activator" type="radio" name="carousel" id="H">
                    <input class="carousel__activator" type="radio" name="carousel" id="I">
                    <div class="carousel__controls">
                        <label class="carousel__control carousel__control--backward" for="F"></label>
                        <label class="carousel__control carousel__control--forward" for="G"></label>
                    </div>
                    <div class="carousel__controls">
                        <label class="carousel__control carousel__control--backward" for="F"></label>
                        <label class="carousel__control carousel__control--forward" for="H"></label>
                    </div>
                    <div class="carousel__controls">
                        <label class="carousel__control carousel__control--backward" for="G"></label>
                        <label class="carousel__control carousel__control--forward" for="I"></label>
                    </div>
                    <div class="carousel__controls">
                        <label class="carousel__control carousel__control--backward" for="I"></label>
                        <label class="carousel__control carousel__control--forward" for="F"></label>
                    </div>
                    <div class="carousel__track">
                        <li class="carousel__slide">
                        </li>
                        <li class="carousel__slide">
                        </li>
                        <li class="carousel__slide">
                        </li>
                        <li class="carousel__slide">
                        </li>

                    </div>
                    <div class="carousel__indicators">
                        <label class="carousel__indicator" for="F"></label>
                        <label class="carousel__indicator" for="G"></label>
                        <label class="carousel__indicator" for="H"></label>
                        <label class="carousel__indicator" for="I"></label>
                    </div>
                </div>
            </div> -->

        </div>



    </div>
</div>
<app-footer></app-footer>