<div id="features-wrapper-footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-6-medium col-6-small col-12-tiny">

                <!-- Box -->
                <section class="box feature">
                    <div class="brad-icon">GET IN TOUCH</div>
                    <div class="inner">
                        <p>Corporate Office<br>
                        379 Thornall Street, Floor # 6<br>
                        Edison, New jersey-08837<br>
                        Ph-201-526-3845<br>
                        Fax-201-526-3825
                        </p>

                    <i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-linkedin"></i>

                    </div>
                </section>

            </div>

            <div class="col-6 col-6-medium col-6-small custom col-12-tiny">

                <!-- Box -->
                <section class="box feature">
                    <div class="brad-icon custom-3"></div>
                    <div class="inner">
                        
                    </div>
                    <img src="assets/img/footer/footer.jpg" alt="footer_img">
                    <p class="text-center">2019</p>
                </section>

            </div>
        </div>
    </div>
</div>
