<app-header></app-header>
<app-topbar></app-topbar>

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <h2>ENGINEERING</h2>
        </div>
        <div class="row gtr-200">
            <div class="col-6 col-12-medium imp-medium">

                        <!-- Content -->
                        <div id="content">
                            <section class="last">
                                <div class="image featured">
                                    <img src="assets/img/staffingsolution/staffingsolutionsengineering.jpg" alt="engineering">
                                </div>
                            </section>
                        </div>
        
                    </div>
            <div class="col-6 col-12-medium">

                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">
		
                                    <p style="text-align: justify;">Today success of an engineering organization is dependent on a dependable workforce partner, whose reliability and technical proficiency ensures optimum performance from its resources.</p>
                                    <p style="text-align: justify;">Cavalier IT specializes in providing workforce solutions to the engineering sector by providing contract engineers. Our foundation for recruitment success is based on importance of reliable qualified talent. With over a decade of experience we address various workforce challenges of the engineering sector, across an array of categories.</p>
                                    <p style="text-align: justify;">Cavalier IT&nbsp;is committed to delivering performance through the most efficient solutions available for your engineering requirements—whether in temporary, temp-to-hire, direct hire or statement of work. Our recruitment approach is a combination of time-honored best practices keeping in par with today’s connected and global workforce.</p>
                                    
                    </section>
                </div>

            </div>
            
        </div>
        
    </div>
</div>

<app-footer></app-footer>