<app-header></app-header>
<app-topbar></app-topbar>

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <h2>ABOUT US</h2>
        </div>
        <div class="row gtr-200">
            <div class="col-12 col-12-medium">
                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">
                        <p style="text-align: justify;">
                            Founded over a decade ago; Cavalier is a Women & Minority-Owned Certified Professional
                            Staffing organization in the NY Metro area.
                            Cavalier IT’s forte lies in Contingent workforce and Outsourcing solutions.
                            We leverage our longevity, experience and
                            focus on relationships building to promote top level customer service catered to our
                            client’s business needs
                            and by fulfilling promising careers to our candidates.
                        </p>

                    </section>
                </div>

            </div>

        </div>

    </div>
</div>

<app-footer></app-footer>