<app-header></app-header>
<app-topbar></app-topbar>

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <h2>OUR COMPANY</h2>
            <p><br><br></p>
        </div>
        <div class="row gtr-200">
            <div class="col-4 col-12-medium">

                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">
                        <ul class="style2">
                            <li><a href="#"><img src="assets/img/services/service_workforce.png"><span>About
                                        Us</span></a></li>
                            <li><a href="#"><img src="assets/img/services/service_technology_1.png"><span>Our
                                        People</span></a></li>
                            <li><a href="#"><img src="assets/img/services/service_rpo.png"><span>Our Benefits</span></a>
                            </li>
                            <li><a href="#"><img src="assets/img/services/service_outsourcing.png"><span>Our
                                        Values</span></a></li>
                            <li><a href="#"><img
                                        src="assets/img/services/service_payroll.png"><span>Leadership</span></a></li>
                            <li><a href="#"><img
                                        src="assets/img/services/service_payroll.png"><span>Sustainability</span></a>
                            </li>
                            <li><a href="#"><img
                                        src="assets/img/services/service_payroll.png"><span>Diversity</span></a></li>
                            <li><a href="#"><img src="assets/img/services/service_payroll.png"><span>Giving
                                        Back</span></a></li>
                            <li><a href="#"><img src="assets/img/services/service_payroll.png"><span>Life At
                                        Cavalier</span></a></li>
                        </ul>
                    </section>
                </div>

            </div>
            <div class="col-8 col-12-medium imp-medium">

                <!-- Content -->
                <div id="content">
                    <section class="last">
                        <div class="image featured">
                            <p>
                                Founded over a decade ago; Cavalier is a Women & Minority-Owned Certified Professional
                                Staffing organization in the NY Metro area.
                                Cavalier IT’s forte lies in Contingent workforce and Outsourcing solutions. We leverage
                                our longevity, experience and
                                focus on relationships building to promote top level customer service catered to our
                                client’s business needs and by fulfilling promising careers to our candidates.
                            </p>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>