<app-header></app-header>
<app-topbar></app-topbar>

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <h2>CONNECT</h2>
        </div>
        <div class="row gtr-200">
            <div class="col-12 col-12-medium">
                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">
                                    <p style="text-align: justify;">If you’re here, chances are you’ve reached a milestone related to your work life. Maybe you’re trying for your next best job Or to find opportunities with more growth potential.&nbsp; Whatever your situation, we know looking for a job is challenging. That’s why we’re here to help.<br>
                                    We use our experience, resources and connections to find you opportunities that match your skills, interests and goals at any career stage – so you’re on the right path. And we’ll stick by you throughout your career journey.</p>
                                    <p style="text-align: justify;">Even after you’ve been hired, we stay in touch to make sure you’re satisfied and have the tools to succeed. And if, or when, you’re ready for another career move, we’ll be there to help you make the best next step.</p>
                                    <p style="text-align: justify;">We work with direct clients and first-tier integrators to deliver results. We don’t just push bodies; we provide opportunity and solve problems. We address quality-of-life issues, incorporation processes, interview-to-project,&nbsp;offer negotiation and overall consultant career management.&nbsp; If you have hands-on experience as a functional or technical resource, we want to show you how Cavalier IT may assist you in your next career decision.</p>
                                    <p style="text-align: justify;">We’ll get your career moving. Whenever you’re starting from.</p>
                                    <p style="text-align: justify;">Join our Talent Community so you can stay connected to us and hear about opportunities on a regular basis. The right opportunity could be waiting around the corner.&nbsp; Also consider following us on LinkedIn, like us on Facebook or subscribe to our YouTube.</p>
                    </section>
                </div>

            </div>
            
        </div>
        
    </div>
</div>

<app-footer></app-footer>