<app-header></app-header>
<app-topbar></app-topbar>

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <h2>BY INDUSTRY</h2>
            <p>Cavalier IT has strategically focused on a number of key industries through its long history of Staffing.  Cavalier IT has focused only on Staffing for over a decade and
                 built a network with good mix of technology and industry.  Cavalier IT provides consultants who know the details of implementation and also know the peculiarities 
                of industry. In addition, Cavalier IT brings a collection of industry proven extensions and solutions that have been useful to many other companies over the years.</p>
        </div>
        <div class="row gtr-200">
            <div class="col-4 col-12-medium">

                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">
                        <ul class="style2">
                                <li><a href="#"><img src="assets/img/services/service_workforce.png"><span>Technology Services</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_technology_1.png"><span>BFSI</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_rpo.png"><span>Manufacturing</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_outsourcing.png"><span>Communications & Media</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_payroll.png"><span>Energy & Utilities</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_payroll.png"><span>Public Sector</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_payroll.png"><span>Pharmaceuticals</span></a></li>
                                <li><a href="#"><img src="assets/img/services/service_payroll.png"><span>Life Sciences & Healthcare</span></a></li>
                            </ul>
                    </section>
                </div>

            </div>
            <div class="col-8 col-12-medium imp-medium">

                <!-- Content -->
                <div id="content">
                    <section class="last">
                        <div class="image featured">
                            <img src="assets/img/byindustry/byindustry.png">
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
